// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #EEBF24;
$orange: #E67E22;
$green: #1EDD88;
$gray: #101011;
$light-gray: #FDFDFB;
$text-gray: #7B7B7B;
// Custom Colors
$light-yellow: #FEF9EC;
