

.bigger-checkbox[type="checkbox"] {
  width: 20px !important;
  height: 20px;
}


.form-check label {
  width: 100px;
  font-size: 13px;
  padding: 5px;
}

.form-select .dropdown-list{
  margin-top: 50px !important;
}

#dropdown-try {
  display: flex !important;
}

#dropdown-icon {
  background-color: $light-gray;
  color: $text-gray;
  border: solid 0.1rem $gray;
  border-radius: 12px;
  outline-offset: 1rem;
  box-shadow:0px 4px 6px 0 rgba(0,0,0,0.16);
}

#dropdown-icon::after {
  color: $gray;
  margin-left: 14em !important;
}

#lesson-package {
  background-color: $light-gray;
  // position: relative;
  box-shadow:0px 4px 6px 0 rgba(0,0,0,0.16);

}

#discount-div {
  border-radius: 4px 10px 10px 4px;
  margin: 0 calc(50% - 50vw);
  margin-left: -10px;
  margin-top: 5px;
  width: 10%;

  span {
    position: absolute;
    color: $light-gray;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: -10px;
    background-color: $danger;
    border-radius: 4px 10px 10px 4px;
    margin: 0 calc(50% - 50vw);
    margin-left: -10px;
    margin-top: -20px;
    width: 10%;
    // z-index: 1;
  }
}

.lesson-text {
  font-size: 15px;
  margin-left: 50px;
}

.total-price {
  font-size: 10px;
  margin: 0 calc(50% - 50vw);
  margin-top: -15px;
}

.total-text {
  position: relative;

}

.monthly-price {
  position: absolute;
  margin: 0 calc(50% - 50vw);
  margin-top: -20px;
  margin-left: 35px;
  padding: 2px;
}
/* Rectangle 2005 */


/* Rectangle 2004 */

#input-error {
  background-color: $light-gray;
  color: $text-gray;
  border: solid 0.1rem $gray;
  border-radius: 12px;
  outline-offset: 1rem;
  box-shadow:0px 4px 6px 0 rgba(0,0,0,0.16);
  border-color: red;

  ::after {
    color: $gray;
    margin-left: 14em !important;
  }
}

#input-error button {
  padding: 10px;
}


#input-error::after {
  color: $gray;
  margin-left: 14em !important;
}

.error-red-text {
  color: red;
  margin-left: 5px;
}
